<ion-view view-title="Dashboard">
  <ion-content class="padding">

      <div class="list card" ng-repeat="cartao in cartoesFeed">


            <div class="item item-image">
              <img src="{{ cartao.img }}">
            </div>

            <p ng-show="cartao.statusLegenda == true">{{ cartao.legenda }}</p>

            <div class="button-bar">
              <a class="button" ng-click="mostrar(cartao)">Mostrar</a>
              <a class="button" ng-click="esconder(cartao)">Esconder</a>
            </div>
      </div>

  </ion-content>
</ion-view>
