<ion-view view-title="Chats">
  <ion-content>

      <div class="list">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Como está hj?" ng-model="post">
            </label>
            <button class="button button-small" ng-click="postar(post)">
              Postar
            </button>
          </div>

    </div>

    <div class="item item-avatar" ng-repeat="st in usuarioLogado.status">
        <img src="{{ usuarioLogado.img }}">
        <h2>{{ usuarioLogado.nome }}</h2>
        <p>{{ st.p }}</p>
    </div>

  </ion-content>
</ion-view>
